<script type="text/javascript">

</script>
<div class="homepage" align="center" style="background-color:powderblue">
    <div class="topnav">
        <a class="active" href="#/home">Home</a>
        <a href="/login" style="float:right">Log Out</a>
    </div>
    <div class="row">
        <div class="column" style="width: 25%">
            <div id="profile" style=" margin:auto; border-style: solid">
                <h3 > {{user.name}}</h3>
                <p>Groups: {{user.groups.length}}</p>
                <p>Transactions: {{user.transactions.length}}</p>
                <h3 ng-model="posts.userID" style="visibility: hidden"> {{user._id}}</h3>
            </div>
            <div>
                <a href="/#/newGroup/{{user._id}}">
                    Create a Group
                </a>
            </div>
            <h4> OR</h4>
            <h4 style=" margin:auto; border-style: solid; padding: 5px"> Join a Group</h4>
            <div ng-repeat="g in newGroups" style=" margin:auto; border-style: solid; padding: 20px">
              <input type="button" value="{{g.groupName}} " ng-click="addGroup(g._id)">
            </div>                    
        </div>
        <div class="column" style="width:50%">
            <div id="newChirp">
                <form>
                    <div class="form-group" style="width: 35%">
                        <label>Select a group</label>
                        <select width="50%" class="form-control" ng-model="selectedGroup" ng-options="group as group.groupName for group in groups">
                            <!-- <option value={{group._id}}>{{group.groupName}}</option> -->
                        </select>     
                    </div>
                    <a ng-disabled="selectedGroup ==='Not Ready'" class="btn btn-primary"  href="/#/add-transaction/{{selectedGroup._id}}">
                      New Transaction
                    </a>  
                    <a ng-disabled="selectedGroup ==='Not Ready'" class="btn btn-primary"  href="/#/monthReview/{{selectedGroup._id}}">
                      Calculate Expenses
                    </a>  
                </form>
            </div>
            <div ng-repeat='trans in userTrans'>
                <div id="posts" align="center" >
                    <div id="post_content" class="row">
                        <div id="post_profile" class="column" style="border-right: 3px solid #000000; overflow: hidden; width:30%; height: 100px; float:left;" >
                            <p>
                                Transaction ID {{trans.trans._id}}
                            </p>
                        </div>
                        <div id="post_content" class="column" style=" width:70%; height: 100px;" >
                            <div id="post_text" class="row" style=" padding-top: 20px; padding-left: 30px; height:70%">
                                <a ng-if="trans.from == user._id" href="/#/chirp/{{post._id}}" style="word-break: break-all; word-wrap: break-word;">
                                    {{trans.authorName}} charged {{trans.trans.to.userName}} for ${{trans.trans.amount}}
                                </a>    
                                <p ng-if="trans.from != user._id">
                                    {{trans.authorName}} charged {{trans.trans.to.userName}} for ${{trans.trans.amount}}
                                </p> 
                            </div>
                            <div id="options" class="row" align="middle" style="margin:auto; float: right; padding-right: 50px; height:20%" >
                                <div id="delete" class="column">
                                    <a  ng-click="deleteChirpBox(trans.trans._id,trans.authorName,trans.trans.to.userName)" >
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>    
                                </div>         
                            </div>                                                         
                        </div>
                    </div>
                </div>                          
            </div>   
        </div>
    </div>
    <div id="deleteChirp" class="deletePopUp">
        <div class="deleteChirp-content">
            <span class="close" ng-click="closeDeleteChirpBox()">&times;</span>
            <h1>Delete Post</h1>
            <p>
                Are you sure you want to delete this transaction?
            </p>
            <h2>
               
                {{deleteTrans.from}} charged {{deleteTrans.to}} for ${{deleteTrans.trans.amount}}
            </h2>
            <input type="button" value="Yes, Delete" class="btn btn-danger" ng-click="deleteChirp(deleteTrans)" />

            <a class="btn btn-default" ng-click="closeDeleteChirpBox()">No, Go Back</a>
        </div>        
    </div>
</div>

<style type="text/css">
.column {
  float: left;
}
body {background-color: powderblue;}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#posts {
  border-radius: 25px;
  border: 2px solid #000000;
  padding-left: 20px;
  margin:30px; 
  width:800px;
  height: 100px;
}

#replyPosts  {
  border-radius: 25px;
  border: 2px solid #000000;
  padding-left: 20px;
  margin:30px; 
  width:800px;
  height: 100px;
  overflow: hidden;
}

#replies  {
  border-radius: 25px;
  border: 2px solid #000000;
  padding-left: 20px;
  margin:30px; 
  width:800px;
  height: 100px;
  overflow: hidden;
}

.deletePopUp {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.deleteChirp-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  background-color: powderblue;
}

.replyPopUp {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.replyBox-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  background-color: powderblue;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}
</style>